@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700;900&display=swap');
.App {
  font-family: 'Open Sans', sans-serif;
  background-color: whitesmoke;
  color: black;
  display: grid;
  grid-template-rows: 13% 87%;
  width: 100dvw;
  height: 100dvh;
}

.App_Header {
  font-family: 'Cormorant Garamond',serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-bottom: 0.2dvh;
  border-style: solid;
  border-color: rgba(99, 99, 99, 0.2);
}

.App_Header_Navbar {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-right: 50px;
}

.App_Header_Navbar a{
  font-weight: 500;
  font-size: large;
  color: rgb(57, 57, 57);
  text-decoration: none;
}