@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700;900&display=swap');
.App {
  font-family: 'Roboto', sans-serif;
  background-color: #FAF2E9;
  color: #848D62;
  display: grid;
  grid-template-rows: 13% 87%;
  width: 100dvw;
  height: 100dvh;
}

.App_Header {
  font-family: 'Cormorant Garamond',serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-bottom: 1%;
  border-style: solid;
}

.App_Header_Navbar {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-right: 50px;
}

.App_Header_Navbar a{
  font-weight: 500;
  font-size: large;
  color: #848D62;
  text-decoration: none;
}