.products-page {
    display: grid;
    grid-template-columns: 20% 80%;
}

.categorySelector {
    padding-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 2px;
    border-top: 0px;
    border-bottom: 0px;
    border-left: 0px;
    border-style: solid;
    border-color: rgb(239, 239, 239);
}

.products-container {
    display: flex;
    width: 77vw;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: auto;
}

.ItemBox {
    display: grid;
    grid-template-rows: 60%;
    align-items: center;
    justify-content: baseline;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    height: 22vw;
    width: 17vw;
    margin: 1%;
    transition: all 275ms;
}

.ItemBox:hover {
    cursor: pointer;
    scale: 105%;
}

.ItemBox img {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    max-width: 25dvw;
    max-height: 25dvh;
    margin-left: 25%;
    margin-top: 5%;
}

.ItemBox a {
    margin-left: 5%;
    text-decoration: none;
    color: black;
}

.itemBoxSubDiv {
    display: flex;
    flex-direction: row;
    font-size: 90%;
    justify-content: space-evenly;
}

.itemBoxSubDiv button {
    cursor: pointer;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: all ease-in-out 0.3s;
}

.itemBoxSubDiv button:hover {
    background-color: #848D62;
    color: #FAF2E9;
}

#categoryAndSearchForm {
    display: flex;
    padding-top: 5%;
    flex-direction: column;
    border-bottom: solid;
    border-color: rgba(99, 99, 99, 0.2);
    border-width: 1px;
}

.categoryRadioButtons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 5%;padding-bottom: 5%;
    padding-left: 10%;padding-right: 10%;
}

label {
    color: #383428;
}

.radioButtons:checked {
    background-color: #007bff;
    border: none;
}

.radioButtons:checked {
    background: black;
}

.radioButtons:hover {
    background-color: green;
    cursor: pointer;
}

#plainCategoryText {
    border-bottom: solid;
    padding: 2%;
    width: 95%;
    color: #383428;
    border-color: rgba(99, 99, 99, 0.2);
}


/* Search box goes here */
.search {
    display: flex;
    flex-direction: row;
}
.searchTerm {
    color: grey;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px 10px;
    width: 200px;
    transition: all 250ms;
}

.searchTerm:focus {
  /* Active search box styles */
  background-color: #eee;
  color: black;
  border: 1px solid #007bff;
  width: 220px;
}

#discountSpanProducts {
    color: orange;
}

#mrpStrikeThroughSpan {
    color: grey;
    margin-left: 10px;
}

#priceAndMrpDiv {
    display: flex;
    justify-content: space-between;
}

#itemNameSpan {
    font-weight: 700;
    font-size: relative;
}