.products-page {
    display: grid;
    grid-template-columns: 20% 80%;
}

.categorySelector {
    padding-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 2px;
    border-top: 0px;
    border-bottom: 0px;
    border-left: 0px;
    border-style: solid;
    border-color: rgb(239, 239, 239);
}

.products-container {
    display: flex;
    width: 77vw;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: auto;
}

.ItemBox {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    height: 22vw;
    width: 17vw;
    margin: 1%;
    transition: all 275ms;
}

.ItemBox:hover {
    cursor: pointer;
    scale: 105%;
}

.ItemBox img {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    max-width: 25dvw;
    max-height: 25dvh;
    align-self: center;
    margin-top: 5%;
}

.ItemBox a {
    margin-left: 5%;
    text-decoration: none;
    color: black;
}

.itemBoxSubDiv {
    display: flex;
    flex-direction: row;
    font-size: 120%;
    justify-content: space-evenly;
}

.itemBoxSubDiv button {
    cursor: pointer;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: all ease-in-out 0.3s;
}

.itemBoxSubDiv button:hover {
    background-color: #848D62;
    color: #FAF2E9;
}

#categoryAndSearchForm {
    display: flex;
    flex-direction: column;
    border-bottom: solid;
    border-color: grey;
    padding-left: 10%;
    border-width: 1px;
}

#searchBox {
    margin-top: 15%;
    width: 20vw;
    border-style: solid;
    border-radius: 0.6dvw;
}

.categoryRadioButtons {
    display: flex;
    flex-direction: column;
}

.radioButtons:checked {
    background-color: #007bff;
    border: none;
}

.radioButtons:checked {
    background: black;
}

.radioButtons:hover {
    background-color: green;
    cursor: pointer;
}