.userCartContainer {
    display: grid;
    grid-template-columns: 70% 20%;
}

#productsAddedToCart {
    display: flex;
    flex-wrap: wrap;
    margin: 3%;
}

#checkOutFromCart {
    display: flex;
    justify-content: center;
}

#cartItemBox {
    display: flex;
    border: 2px solid;
    height: 10vw;
    width: 10vw;
    flex-direction: column;
}

#checkOutFromCart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#addSomeItemsMessage {
    justify-self: center;
}

#rowDetails {
    display: flex;
}

#subDivCheckoutFromCart {
    margin: 2vw;
}

#cartIsEmpty {
    align-self: center;
    justify-self: center;
}

#checkoutButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
}

#rowDetails input {
    width: 20%;
}

a {
    text-decoration: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}